<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>урок по html разметке</title>
	<meta name="description" content="уроки по html-разметке">
	<meta name="keywords" content="html,Lesson">

</head>

<body>
	<div class="content123">
		<h1>Урок разметки</h1>
		<p>300 тысяч фунтов стерлингов было потрачено <span class="color123">	британскими учеными</span> на изучение взаимодействия уток с водой. В результате длительного исследования им удалось выяснить, что всем остальным способам провести время в воде утки предпочитают дождь, который заменяет им душ.</p>
		<p>Еще одно шокирующее <strong>открытие</strong> исследователей с Туманного Альбиона наконец объяснило страдающим от избыточного веса, в чем заключается их проблема. В ходе научного экспериментабританским ученым удалось установить, что худые люди, как правило, едят меньше, чем полные.</p>
	</div>

	<div class="content456">
		<h1>Урок разметки</h1>
		<p>300 тысяч фунтов стерлингов было потрачено <span class="color456">	британскими учеными</span> на изучение взаимодействия уток с водой. В результате длительного исследования им удалось выяснить, что всем остальным способам провести время в воде утки предпочитают дождь, который заменяет им душ.</p>
		<p>Еще одно шокирующее <strong>открытие</strong> исследователей с Туманного Альбиона наконец объяснило страдающим от избыточного веса, в чем заключается их проблема. В ходе научного экспериментабританским ученым удалось установить, что худые люди, как правило, едят меньше, чем полные.</p>
	</div>

	<style type="text/css">

		.content123{
			background-color: green;
		}

		.content456{
			background-color: red;
		}

		.color123{
			color:red;
		}

	</style>

</body>
</html>