<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="description" content="автомат контроля за растениями" >
	<meta name="keywords" content="автомат контроля за растениями">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	
	<div class="main">
		
		<div class="header">

			<div class="logo">
				<div class="logo_text">
					<h1>  4510 Flower project  </h1>
					<h2>Вспомогательная система для растений</h2>
				</div>
			</div>

			<div class="menubar">
				<ul class="menu">
					<li> <a href="/index.html">Текущие параметры</a></li>
					<li> <a href="/direct_control.html">Прямой контроль</a> </li>
					<li class="selected"> <a href="/schedule.html">Расписание</a> </li>
					<li> <a href="/stat.html">Статистика</a> </li>
					<li> <a href="/about.html">О проекте</a> </li>
				</ul>
			</div>

		</div>

	</div>

</body>
</html>